/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

body {
	font-family: Lato, 'Helvetica Neue', Helvetica;
	font-weight: 300;
}

.campaign-container {
	max-width: 1200px;
	text-align: center;
	margin: auto;
}

.campaign-card {
	width: 330px;
	display: inline-block;
	padding: 0px 15px 30px 15px;
}

.campaign {
	text-align: left;
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	height: 370px;
	overflow: hidden;

	color: #444444;

	&:hover {
		box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	}

	.campaign-media {
		height: 170px;
		background-color: #000;

		.campaign-media-image {
			background-size: cover;
			background-position: center;
			height: 100%;
			width: 100%;
		}
	}

	.campaign-content {
		height: 200px;
		background-color: #fff;
		padding: 10px;

		.title {
			color: #FF3955;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 8px;
		}

		.description {
			height: 60px;
			overflow: hidden;
			margin-bottom: 8px;
			font-size: 14px;
		}

		.user {
			font-size: 14px;
			margin-bottom: 8px;

			span {
				color: #FF3954;
			}
		}

		.location {
			margin-bottom: 12px;

			span {
				color: #FF3954;
			}

			i {
				font-size: 18px;
			}
		}

		.bar {
			height: 5px;
			background-color: #ddd;
			margin-bottom: 2px;

			.bar-content {
				background-color: #00B400;
				height: 5px;
				margin-right: 60%;
			}
		}

		.values {
			color: #888;
			font-size: 12px;
			padding: 0px 2px;

			span {
				font-weight: 500;
			}
		}
	}
}

.header-area {
	background-color: #FF4E6A;
	color: white;
	height: 300px;
	font-size: 20px;
}

.navbar.navbar-default {
	margin-bottom: 0px;
	background-color: #fff;
	border-bottom: none;
}