/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic);

body {
	font-family: Lato, 'Helvetica Neue', Helvetica;
	font-weight: 300;
}

.header-area-image {
	background-image: url(/image_branding.png);
	background-repeat: no-repeat;
	background-position: right 20px center;
	height: 100%;
}

.header-area-text {
	padding-top: 10px;
}

.header-area-text > * {
	max-width: 400px;
}

.header-area-text .btn {
	color: #BD2B46;
	border: none;
}

.campaign-container {
	max-width: 1200px;
	text-align: center;
	margin: auto;
}

.campaign-card {
	width: 330px;
	display: inline-block;
	padding: 0px 15px 30px 15px;
}

.campaign {
	text-align: left;
	cursor: pointer;
	box-shadow: 1px 1px 2px rgba(0,0,0,.3);
	height: 370px;
	overflow: hidden;

	color: #444444;

	&:hover {
		box-shadow: 1px 1px 10px rgba(0,0,0,.4);
	}

	.campaign-media {
		height: 170px;
		background-color: #000;

		.campaign-media-image {
			background-size: cover;
			background-position: center;
			height: 100%;
			width: 100%;
		}
	}

	.campaign-content {
		height: 200px;
		background-color: #fff;
		padding: 10px;

		.title {
			color: #FF3955;
			font-size: 18px;
			font-weight: 500;
			margin-bottom: 8px;
		}

		.description {
			height: 60px;
			overflow: hidden;
			margin-bottom: 8px;
			font-size: 14px;
		}

		.user {
			font-size: 14px;
			margin-bottom: 8px;

			span {
				color: #FF3954;
			}
		}

		.location {
			margin-bottom: 12px;

			span {
				color: #FF3954;
			}

			i {
				font-size: 18px;
			}
		}

		.bar {
			height: 5px;
			background-color: #ddd;
			margin-bottom: 2px;

			.bar-content {
				background-color: #00B400;
				height: 5px;
				margin-right: 60%;
			}
		}

		.values {
			color: #888;
			font-size: 12px;
			padding: 0px 2px;

			span {
				font-weight: 500;
			}
		}
	}
}

.donate-bar {
	height: 10px;
	background-color: #ddd;
	margin-bottom: 2px;
	border-radius: 5px;
	overflow: hidden;

	.donate-bar-content {
		background-color: #00B400;
		height: 10px;
		margin-right: 60%;
	}
}

.header-area {
	background-color: #FF4E6A;
	color: white;
	height: 300px;
	font-size: 16px;
}

.header-area > h2 {
	font-size: 32px;
}

.navbar.navbar-default {
	margin-bottom: 0px;
	background-color: #fff;
	border-bottom: none;
}

.campaign-main-image {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
}

.campaign-detail {

	.title {
		font-size: 32px;
		font-weight: 800;
	}

	.campaign-media {
		margin-top: 15px;
		margin-bottom: 20px;
		height: 400px;
		background-color: #eee;

		.campaign-media-image {
			background-size: cover;
			background-position: center;
			height: 100%;
			width: 100%;
		}
	}

	.sidebar {
		padding-top: 60px;

		> .btn {
			margin-bottom: 20px;
			background-color: #00B200;
			border: none;
			color: white;
		}

		.values {
			font-size: 18px;
			margin: 10px 0;

			span {
				font-weight: 400;
			}
		}

		.user {
			font-size: 14px;
			margin-top: 8px;
			margin-bottom: 8px;

			span {
				color: #FF3954;
			}
		}

		.location {
			margin-bottom: 12px;

			span {
				color: #FF3954;
			}

			i {
				font-size: 18px;
			}
		}
	}
}