<template name="CampaignView">
	{{> NewPersonModal}}
	{{> header inverted=true}}
	<div class="container campaign-detail">
		<div class="col-md-8">
			<div class="title">
				{{campaign.name}}
			</div>
			<div class="campaign-media">
				{{#if campaign.mainMedia.videoUrl}}
					<iframe id="ytplayer" type="text/html" height="400" width="100%" src="http://www.youtube.com/embed/{{campaign.mainMedia.videoUrl}}?autoplay=0&origin=http://example.com" frameborder="0"></iframe>
				{{else}}
					{{#if campaign.mainMedia.url}}
						<div class="campaign-media-image" style="background-image: url({{campaign.mainMedia.url}})"></div>
					{{/if}}
				{{/if}}
			</div>
			<div class="description">
				{{campaign.description}}
			</div>
		</div>

		<div class="col-md-4 sidebar">
			{{#if helpActivated}}
				<div class="form-group">
					<label for="exampleInputEmail1">Ajudar mensalmente com (R$):</label>
					<input type="number" class="form-control input-block" id="donateInput" value="10">
				</div>
				<a href="#" class="btn btn-default btn-lg btn-block" id="donateCampaign">Doar</a>
				<a href="#" class="btn btn-default btn-lg btn-block btn-link text-danger" id="cancelDonate">Cancelar</a>
			{{else}}
				{{#if hasDonation}}
					<div class="btn btn-default btn-lg btn-block">Você já está doando R$ {{formatNumber donationValue}}</div>
				{{else}}
					<a href="#" class="btn btn-default btn-lg btn-block" id="helpCampaign">Ajudar Campanha</a>
				{{/if}}
			{{/if}}
			<div class="values">
				Arrecadado: <span>R$ {{formatNumber campaign.donatedValue}}</span>
			</div>
			<div class="donate-bar">
				{{#with campaign}}
					<div class="donate-bar-content" style="margin-right: {{percent}}%"></div>
				{{/with}}
			</div>
			<div class="values text-right">
				Objetivo: <span>R$ {{formatNumber campaign.targetValue}}</span>
			</div>
			<hr>
			Compartilhar
			<hr>
			Início da campanha: {{moFormat campaign.createdAt 'DD [de] MMMM [de] YYYY'}}
			<div class="user">
				Por <span>{{campaign.user.name}}</span>
			</div>
			<div class="location">
				Em: <i class="fa fa-map-marker"></i> <span>Location, LL</span>
			</div>
			
		</div>
	</div>
</template>