<template name="DashboardView">
	{{> header}}
	<div class="header-area">
		<div class="hidden-sm hidden-xs col-xs-offset-1 col-xs-5 header-area-image">
		</div>
		<div class="col-xs-offset-1 col-sm-offset-2 col-md-offset-0 col-xs-12 col-md-5 header-area-text">
			<h2>Sua ajuda faz diferença!</h2>
			<br>
			<p>
				No <strong>Eu Ajudo</strong> é muito fácil ajudar instituições e pessoas que precisam de doações.

				<br>
				<br>

				Você também pode programar doações mensais e criar campanhas.
			</p>
			<br>

			<a href="#" class="btn btn-default">Saiba mais</a>
		</div>
	</div>
	<br>
	{{> Template.dynamic template=featured}}
</template>
