<template name="NewCampaignView">
	{{> header inverted=true}}
	<div class="container">
		{{#autoForm collection="Campaigns" id="insertCampaignForm" type="insert"}}
			<fieldset>
				<legend>Criar campanha</legend>
				{{> afQuickField name='name'}}
				{{> afQuickField name='description' rows=6}}
				{{> afQuickField name="mainMedia.url"}}
				{{> afQuickField name="mainMedia.videoUrl"}}
				{{> afQuickField name="targetValue"}}
				{{> afQuickField name="donatedValue"}}
			</fieldset>
			<button type="submit" class="btn btn-primary">Salvar</button>
		{{/autoForm}}
	</div>
</template>