<template name="NewOrganizationView">
	{{> header inverted=true}}

	<br>
	<div class="container">
		{{#autoForm schema=formSchema id="contactForm" type="method" meteormethod="newOrganization"}}
			<fieldset>
				<legend>Criar organização</legend>
				{{> afQuickField name="name"}}
				{{> afQuickField name="email"}}
				{{> afQuickField name="password"}}
				{{> afQuickField name="passwordConfirmation"}}
				<div>
					<button type="submit" class="btn btn-primary">Criar</button>
				</div>
			</fieldset>
		{{/autoForm}}
	</div>
</template>