<template name="NewPersonForm">
	{{#autoForm schema=formSchema id="contactForm" type="method" meteormethod="newPerson"}}
		{{> afQuickField name="name"}}
		{{> afQuickField name="email"}}
		{{> afQuickField name="password"}}
		{{> afQuickField name="passwordConfirmation"}}
		<div>
			<button type="submit" class="btn btn-primary">Criar</button>
		</div>
	{{/autoForm}}
</template>

<template name="NewPersonView">
	{{> header inverted=true}}

	<br>
	<div class="container">
		<fieldset>
			<legend>Criar conta</legend>
			{{> NewPersonForm}}
		</fieldset>
	</div>
</template>

<template name="NewPersonModal">
	<div class="modal fade" id="LoginModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Criar conta</h4>
				</div>
				<div class="modal-body">
					{{> NewPersonForm}}
				</div>
			</div>
		</div>
	</div>
</template>