<template name="SobreView">
	{{> header inverted=true}}
	<div class="container">
		<div class="col-md-offset-1 col-md-10">
			<br>
			<h1>Sobre</h1>
			<br>
			<p>
				<h4><strong>Você já teve vontade de ajudar alguém ou alguma instituição mas não sabia como?</strong></h4>
				<br>

				Com o Eu Ajudo é muito fácil. Você pode <strong>programar uma doação mensal automatizada</strong>, no valor que desejar. A transação é muito simples e você só precisa de uma conta no PayPal. É possível ainda doar usando o seu celular, através do nosso aplicativo para iPhone.

				<br>
				<br>

				Pelo site, organizações ou mesmo <strong>qualquer pessoa pode criar campanhas para receber doações</strong>. Acreditamos que esta facilidade pode ajudar muitas pessoas que necessitam de alguma ajuda, seja uma dificuldade financeira ou de saúde.

				<br>
				<br>

				Não deixe de baixar o aplicativo agora mesmo e comece você também a ajudar quem precisa!

				<br>
				<br>
				<a href="#"><img src="/appstore.svg" alt=""></a>
			</p>
		</div>
	</div>
</template>
